<h1>
  <span>
    Cut through the clutter.
    <br />
    Unite for your adventure saga.
    <br />
    Pin, store, conquer—zero fuss, all thrill.
    <br />Let's make your mark together.
  </span>
  <p class="app-name">MAP.MENACE</p>
</h1>