<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Map Menace</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"
    />
    <style>
      #map { margin: 0; padding:0; width: 100%; height: 100vh; }
    </style>
  </head>

  <body>
    <nav>
      <ul class="main-navigation">
        <li id="to-left">
          <p><a href="/"> map.menace </a></p>
        </li>
        <li id="to-right">
          {{#if userInSession}}
            <form id="logout-form" action="/logout" method="POST">
              <button>logout</button>
            </form>
          {{else}}
            <a href="/signup">signup</a>
            <span> | </span>
            <a href="/login">or login</a>
          {{/if}}
        </li>
      </ul>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>

    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script
      src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"
    ></script>
    <script src="/js/leaflet.js"></script>

    {{! best ta in the world is aykut !!!  }}
  </body>

</html>