body {
  padding: 50px;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: transparent;
  /*border: 1px solid #111212;
  border-radius: 4px;*/
  color: #0e0d0d;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: dotted;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

h1 {
  .transparent-text {
    font-size: 24px;
    color: #fff; /* Set text color */
    /* background: linear-gradient(
      to right,
      #000,
      #000
    );  */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block; /*  border wraps around the text */
    border: 2px solid #fff; /* set the border color and width */
    padding: 10px;
  }
}

form button:hover {
  background: orange;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  border-bottom: 2px solid #9d948e;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}

#to-right {
  padding: 1em;
  float: right;
}

#to-right span {
  color: #171517;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

#logout-form {
  display: inline;
}

#logout-form button {
  width: 120px;
}
