body {
  padding: 50px;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-name {
  color:red
  font-weight: bold;
  position: relative;
}

a {
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#page {
  clear: both;
}

#pageButton {
  position: fixed;
  top: 10px;
  right: 0;
  /*z-index: 999;*/
}
form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: transparent;
  color: #0e0d0d;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: dotted;
  transition: 0.3s ease background;
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: medium;
  margin-top: 50%;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  padding: 50px;
  border: 1px solid black;
}

h2 {
  margin-top: 30px;
}

h3 {
  position: fixed;
  font-style: oblique;
  text-align: left;
  top: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
}

h4 {
  font-style: oblique;
  text-align: left;
}

p3 {
  text-align: center;
  font-style: bold;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

.main-navigation {
  border-bottom: 2px solid #9d948e;
}

ul li {
  line-height: 20px;
}

nav {
  position: fixed;
  top: 0;
  content: "";
  display: table;
  clear: both;
}

#to-right {
  padding: 1em;
  float: right;
  font-size: 12px;
}

#to-right span {
  color: #171517;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

#logout-form {
  display: inline;
}

#logout-form button {
  width: 120px;
}

.layout-wrapper {
  position: relative;
}

.info-user {
  position: fixed;
  left: 0;
  margin: 60px;
  margin-bottom: 50px;
  padding: 30px;
  border: 1px solid black;
}

.user-list li {
  margin: 10px;
  margin-right: 36px;
  left: 0;
}

.info-travel {
  float: right;
  width: calc(100% - 100px);
 
  margin-left: 40px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding: 30px;
  border: 1px solid black;
}

.travel-list li {
  list-style-type: none;
  margin-bottom: 10px;
  border: 1px;
}

button[type="submit"] {
  padding: 5px 5px;
  font-size: 10px;
  background-color: transparent;
  color: rgb(12, 11, 11);
  cursor: pointer;
  text-decoration: dotted;
  text-transform: uppercase;
  float: left;
}

#deleteButton {
  padding: 5px 5px;
  font-size: 10px;
  background-color: transparent;
  color: rgb(12, 11, 11);
  cursor: pointer;
  text-decoration: dotted;
  text-transform: uppercase;
  float: left;
}

#funButton {
  position: fixed;
  top: 80px;
  left: 0;
  height: 50px;
  width: 40px;
  font-size: 20px;
  padding: 5px;
}

#myMapButton {
  position: fixed;
  top: 10px;
  right: 10px;
}

#logout-form {
  padding: 3px;
}

#map {
  position: fixed;
  left: 0;
}
