<div class="row">
  <div class="col-md-6">
    <form action="/create-post" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label>Title:
          <input type="text" name="title" class="form-control" />
        </label>
      </div>

      <div class="form-group">
        <label>Content:
          <textarea name="description" cols="30" rows="4" class="form-control">
          </textarea>
        </label>
      </div>

      <div class="form-group">
        <label>Image:
          <input type="file" name="travel-images" class="form-control-file" />
        </label>
      </div>

      <button type="submit" class="btn btn-primary">Create</button>

    </form>
  </div>
</div>