<div class="row">
  <div class="col-md-6">
    <form
      action="/create-post"
      id="createPost"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label>
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Share your thoughtsss"
          />
        </label>
      </div>

      <div class="form-group">
        <label>

          <textarea
            name="text"
            cols="42"
            rows="20"
            class="form-control"
            placeholder="create a story or simply add to your collection..."
          >
          </textarea>
        </label>
      </div>

      <div class="form-group">
        <label class="custom-file-input-button">
          <input
            type="file"
            name="travel-images"
            class="form-control-file"
            id="fileInput"
          />
        </label>
        <button
          type="button"
          class="custom-button"
          onclick="document.getElementById('fileInput').click()"
        > -- attach a picture -- </button>
      </div>

      <input type="hidden" id="lat" name="lat" value="{{coordinates.lat}}" />
      <input type="hidden" id="lng" name="lng" value="{{coordinates.lng}}" />
      <br />
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>

<p id="create-text">Comeup with a captivating title, tell us a story, add some
  intriguing facts, share a touch of humor or joy - add to your collection of
  memories.
</p>