<form action="/create-post" id="createPost" method="post">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" placeholder="City, Country" /><br
  />

  <label for="text">Text:</label>
  <textarea
    id="text"
    name="text"
    placeholder="what did you see, do?"
  ></textarea><br />

  <!--<label for="images">Upload images:</label>
  <input type="file" id="images" name="images" /><br />-->
  <input type="hidden" id="lat" name="lat" value="{{coordinates.lat}}" />
  <input type="hidden" id="lng" name="lng" value="{{coordinates.lng}}" />
  <br />

  <button type="submit">Submit and save!</button>
</form>