{{#if userInSession}}

  <h2>ready to conquer new territories, {{userInSession.username}}? </h2>
  

  <button id="pageButton">
    <a href="/userPage">your map info</a>
  <button id="funButton">
    <a href="https://www.youtube.com/watch?v=xVWeRnStdSA">👾</a>

  </button>
  <div id="map"></div>

{{else}}

  <br /><p> do login</p>

{{/if}}