{{#if userInSession}}
  <h2>where have you been this time, {{userInSession.username}}? </h2>
  <p>lets create another one menace </p>
  <button>
    <a href="/userProfile">reload the page</a>
  </button>
{{else}}

  <br /><p> bro,log in,plzzz</p>

{{/if}}